<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 配置SpringMVC -->
    <!-- 1. 开启SpringMVC注解模式 -->
    <!--简化配置：
        1）自动注册DefaultAnnotationHandlerMapping（基于注解的url映射）,AnnotationMethodHandlerAdapter（方法适配）
        2）提供一系列功能：数据绑定，数字和日期的format @NumberFormat @DataTimeFormart，xml、json的默认读写支持
    -->
    <mvc:annotation-driven/>

    <!-- web.xml中Dispatcher的映射路径为"/"，因此需要配置静态资源的默认Servlet -->
    <!-- 2. 静态资源默认Servlet配置
            1).加入对静态资源处理：js,gif,png
            2).允许使用 "/" 做整体映射，
    -->
    <mvc:default-servlet-handler/>

    <!-- 3. 配置jsp显示的ViewResolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--4:扫描web相关的bean-->
    <context:component-scan base-package="org.seckill.web"/>
</beans>